doctype html
html(lang='en')
 head
   title Book Recommandations
   link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
   link(rel='stylesheet', href='/css/style.css')
   script(src='https://unpkg.com/htmx.org@1.5.0')
   script(src='https://unpkg.com/hyperscript.org@0.9.8')
body
   div
    h1(hx-indicator="#spinner") Book Recommendations
    img(id="spinner" class="htmx-indicator" src="/assets/spinner.svg")
   form(
        _="on submit log #form.reset()"
        hx-post="/submit" 
        hx-swap="beforeend"
        hx-target="#new-book"
        id="form"
        class="mb-3"
        )
     input(type="text" placeholder="Book Title" name="title" class="form-control mb-3")
     input(type="text" placeholder="Book Author" name="author" class="form-control mb-3")
     button(type="submit" class="btn btn-primary") Submit
   table
     thead
       tr
         th Book Title
         th Book Author
     tbody(id="new-book" hx-target="closest tr" hx-swap="outerHTML swap:0.5s")
       each book in books
         tr
           td #{book.title}
           td #{book.author}
           td
             button(class="btn btn-primary" hx-get=`/get-edit-form/${book.id}`) Edit Book
           td
             button(hx-delete=`/delete/${book.id}` class="btn btn-primary") Delete